/* ImageCard.css */
.image-card {
    width: 220px;
    height: 422px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
}

.captionMission {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    z-index: 2; 
    transition: background 0.3s;
    margin-left: 20px;
    margin-right: 20px;
}

.image-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%; 
    z-index: 1; 
    background: linear-gradient(to bottom, transparent, rgba(0, 90, 91, 0.7));
    opacity: 0; 
    transition: opacity 0.3s;
}

.image-card:hover::before {
    opacity: 1; 
}

.image-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
