.custom-button-l {
    background-color: #005A5B; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 42px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-size: 17px;
  }
  
  .custom-button-l:hover {
    background-color: #014138; 
  }
  