/* PostsCard.css */
.imagePost-card {
    position: relative;
    width: 316px;
    height: 440px;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    font-family: 'Inter', sans-serif;
  }

  .imagePost-card:hover .imagePost {
    filter: brightness(80%); 
  }

  .imagePost {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: filter 0.3s;
  }
  
  .customTag {
    position: absolute;
    top: 10px;
    right: 10px;
    white-space: nowrap;
  }
  
  .captionPost {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    color: rgba(255, 255, 255, 0.787);
    font-size: 17px;
    line-height: 1.4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    box-sizing: border-box;
    bottom: 10%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .svg-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  
  .svg-container svg {
    width: 32px;
    height: 32px;
    fill: white;
    cursor: pointer;
    transition: fill 0.3s, background-color 0.3s, border-radius 0.3s;
    background-color: rgba(255, 255, 255, 0.728);
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .svg-container:hover svg {
    fill: #4CAF50;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }
  