/* ImageCard.css */
.image-card {
    width: 242px;
    height: 422px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s;
    border-radius: 42px;
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

.image-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.image-card:hover {
    color: linear-gradient(to bottom, transparent, rgba(0, 90, 91, 0.7));
}
