/* ImageCard.css */
.image-card {
    width: 242px;
    height: 422px;
    position: relative;
    overflow: hidden;
    border-radius: 42px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 42px;
    transition: transform 0.3s ease-in-out;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    z-index: 2; /* Letakkan caption di depan gambar */
    transition: background 0.3s;
}

.image-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%; /* Sesuaikan dengan tinggi gradient yang diinginkan */
    z-index: 1; /* Letakkan gradient di depan gambar */
    background: linear-gradient(to bottom, transparent, rgba(0, 90, 91, 0.7));
    opacity: 0; /* Sembunyikan gradient secara default */
    transition: opacity 0.3s;
}

.image-card:hover::before {
    opacity: 1; /* Tunjukkan gradient ketika dihover */
}

.image-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
